<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>알뜨리</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/exp_input.css') }}">
</head>
<body>
    <nav>
        <ul class="subnav-list">
            <li>
                <a href="index.html" class="back-allow">
                    <span class="golbalnav-link-text">입금 / 지출 항목 추가</span>
                </a>
            </li> 
            <li>
                <a href="index.html" class="back-x"></a>
            </li> 
        </ul>
    </nav>
    <form method="post">
        <div class="amount-div">
            <span class="amount-span">₩</span>
            <input type="number" id="amount" name="amount" min="0" required>
        </div>
        <br>

        <fieldset class="select">
            <div>
                <input type="radio" name="transaction-type" id="transaction-type" value="income" required>
                <label class="transaction-type" for="transaction-type">입금</label>
            </div>
            <div>
                <input type="radio" name="transaction-type" id="transaction-type2" value="expense" required>
                <label class="transaction-type" for="transaction-type2">출금</label>
            </div>
        </fieldset>
        <br>
        
        <div class="input-flex">
            <span class="date-span">날짜 선택</span>
            <input type="date" id="date" name="date" required>
        </div>

        <div class="input-flex">
            <span class="category-span">카테고리 입력</span>
            <input type="text" id="category" name="category" required>
        </div>

        <input type="submit" value="저장하기">
    </form>
</body>
</html>