<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>알뜨리</title>
</head>
<body>
    <nav>
        <ul class="subnav-list">
            <li>
                <a href="index.html" class="back-allow">
                    <span class="golbalnav-link-text">예산 설정</span>
                </a>
            </li> 
            <li>
                <a href="index.html" class="back-x"></a>
            </li> 
        </ul>
    </nav>
    <hr>
    <form>
        <label for="month">month</label>
        <input type="text" name="month">
        <br>
        <label for="category">category</label>
        <input type="text" name="category">
        <br>
        <label for="amount">amount</label>
        <input type="text" name="amount">
        <br>
        <a href="exp_goal_list.html" class="btn purple">예산리스트확인</a>
        <br>
        <input type="submit">
    </form>
</body>
</html>